@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation */
.zoom-in-top-enter {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-top-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center top;
}

.zoom-in-top-exit {
  opacity: 1;
}

.zoom-in-top-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center top;
}

.zoom-in-left-enter {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.zoom-in-left-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: top left;
}

.zoom-in-left-exit {
  opacity: 1;
}

.zoom-in-left-exit-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: top left;
}

.zoom-in-right-enter {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.zoom-in-right-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: top right;
}

.zoom-in-right-exit {
  opacity: 1;
}

.zoom-in-right-exit-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: top right;
}

.zoom-in-bottom-enter {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-bottom-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center bottom;
}

.zoom-in-bottom-exit {
  opacity: 1;
}

.zoom-in-bottom-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center bottom;
}

.zoom-in-center-enter {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.zoom-in-center-enter-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center center;
}

.zoom-in-center-exit {
  opacity: 1;
}

.zoom-in-center-exit-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
    opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transform-origin: center center;
}

.fade-modal-enter {
  opacity: 0;
}

.fade-modal-enter-active {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}

.fade-modal-exit {
  opacity: 1;
}

.fade-modal-exit-active {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
}

/* animation end */
